Source: glame
Section: sound
Priority: extra
Maintainer: Daniel Kobras <kobras@debian.org>
Build-Depends: debhelper (>= 3.0), docbook-to-man, fftw-dev (>= 2.1.3-4), libaudiofile-dev, libesd0-dev, libasound1-dev, libgnome-dev, libguile-dev, libxml2-dev | libxml-dev (>= 1.8.0), texinfo, tetex-bin
Standards-Version: 3.5.3

Package: glame
Architecture: any
Depends: ${shlibs:Depends}
Recommends: ladspa-plugin, ${shlibs:Recommends}
Suggests: gnome-help
Description: A versatile audio processor.
 GLAME tries to provide a powerful and extensible framework for processing
 audio files similar to what GIMP offers in the graphics area. GLAME so
 far features a Scheme-based command line interface to set up filter 
 networks and perform basic editing tasks.
